#readityourselfcontent
{
  margin-left:20%;
  margin-top:5%;
  width:60%;
  color:white;
  background-color:black;
  padding:2% 2% 2% 2%;
  border-radius: 10px;
  box-shadow: -10px 0px 20px green,10px 0px 20px green;
  font-size:1.5em;
  position:absolute;
  top:0;
}
#readityourselfcontent a
{
  text-decoration: none;
  color: green;
}
#readityourselfcontent a:hover
{
  color:yellow;
}

#readityourselfcontent #btnclose
{
  float:right;
  position:relative;
  background-color: green;
  color:black;
  top:-1%;
  left:1%;
  font-size: 1em;
  padding: 0.2em;
  border-radius: 100%;
}

#readityourselfcontent #btnclose:hover
{
  background-color: yellow;
}
@media (max-width: 800px) 
{
  #readityourselfcontent
{
  margin-top:10%;
  margin-left:5%;
  width:85%;
}
 
   #readityourselfcontent #btnclose
{
  top:-0.1%;
  left:1%;
  font-size: 1em;
}
}



@media (max-width: 400px) 
{
  #readityourselfcontent
{
  margin-top:20%;
  margin-left:5%;
  width:85%;
}
  
  
    #readityourselfcontent img
    {
      width: 100%; height: auto;
    }
   #readityourselfcontent #btnclose
{
  top:-0.1%;
  left:1%;
  font-size: 1em;
}
}
